<div class="galeria-container mt-5">
  <h1>Fotos <strong> 5bs c/u </strong></h1>
  <!-- (change)="choseFile($event)" -->
  <!-- <input *ngIf="usuario.fotografo" type="file" class="form-control" > -->
  <div class="container text-center mt-5 mb-3">
    <div class="row">
      <div class="input-group col-mb-2" *ngIf="usuario.fotografo">
        <!-- <button class="contenerdor-btn-file" (click)="addImgAlStoreFB()">
          <i class="fa-solid fa-panorama"></i>
          Subir Foto
          <label for="btn-file"></label>
          <input type="file" id="btn-file" (change)="choseFile($event)" #inputFile>
        </button> -->
        <label class="input-group-text" for="inputGroupFile01"> <i class="fa-solid fa-panorama"></i></label>
        <input type="file" class="form-control" (change)="choseFile($event)" #inputFile>
        <button type="submit" class="btn btn-dark btn-block" (click)="addImgAlStoreFB()">Subir Foto</button>
      </div>
    </div>
  </div>
  <div *ngIf="usuario.cliente" class="container text-center mt-5 mb-3">
    <div class="row">
      <div class="col">
        <button class="btn btn-warning" disabled><i style="color: white;" class="fa-solid fa-cart-shopping"><span>
              {{carrito.length}}
            </span></i></button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-success" (click)="pasarFotos()">Pagar</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </div>
  <div class="linea"></div>
  <div *ngFor="let foto of fotos" class="galeria" style="text-align: center;">
    <button *ngIf="usuario.cliente" class="btn btn-info mt-2" (click)="agregarAlCarrito(foto)"> Añadir al carrito <i
        class="fa-solid fa-cart-shopping"></i></button>
    <div class="foto">
      <img src="{{foto}}" alt="">
      <div class="pie">
      </div>
    </div>
  </div>
</div>
