h1{
  color: white;
  text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
  text-align: center;
}

/* div.galeria{
  margin: 10px 20px;
  box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgb(0, 0, 0, 0.19);
  float: left;
  width: 350px;
}

div.galeria img{
  width: 100%;
  height: auto;
}

div.galeria:hover{
  border: 1px solid lightcoral;
  transform: rotate(-3deg);
}

div.pie{
  text-align: center;
  text-shadow: 2px 2px 5px purple;
  padding: 10px;
}

.galeria-container{
  margin: 20px;
} */
div.galeria {
  position: relative;
  margin: 10px 20px;
  box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgb(0, 0, 0, 0.19);
  float: left;
  width: 350px;
}

div.galeria img {
  width: 100%;
  height: auto;
}

div.galeria:hover {
  border: 1px solid lightcoral;
  transform: rotate(-3deg);
}

div.pie {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 5px purple;
  padding: 10px;
}

div.pie::after {
  content: "FOTO EVENTO";
  position: absolute;
  bottom: 50%; /* Ajusta este valor para mover la marca de agua más arriba o más abajo */
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5); /* Puedes ajustar el color y la opacidad según tus preferencias */
}

.galeria-container {
  margin: 20px;
}

.contenerdor-btn-file input[type=file]{
  appearance: none;
  display: none;
  visibility: hidden;
  opacity: 0;
}
.contenerdor-btn-file{
  display: inline-block;
  position: relative;
  background-color: #274aa9;
  color: #fff;
  border: 0;
  padding: 12px, 20px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgb(0, 0, 0, 0.15);
  overflow: hidden;
  transition: ease-out 120ms background-color;
}

