
section {
  background: #ff00cc;
  background: -webkit-linear-gradient(to left, #ff00cc, #333399);
  background: linear-gradient(to left, #ff00cc, #333399);
  min-height: 100vh;
}


.btn-primary{
  margin-right: 10px;
}
.btn-danger{
  margin-left: 10px;
}
