a{
  color: white;
}

.navbar{
  background-color: rgb(116, 60, 156);
}
.rainbowText {
  font-family:arial black;
  font-size:20px;
  background-image:
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 500s linear infinite;
}

@keyframes move {
  to {
    background-position: 4500vh;
  }
}


.norainbowText {
  font-family:arial rgb(255, 255, 255);
  color: white;
  font-size:20px;
}
