<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/photo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
    </a>
    <a class="navbar-brand" [routerLink]="['/dashboard/profile']">{{usuario.nombre}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li *ngIf="usuario.cliente" class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/myphotos']">Fotos <i class="fa-solid fa-images"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/eventos']">Eventos <i class="fa-solid fa-champagne-glasses"></i></a>
        </li>
        <li *ngIf="usuario.cliente" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Suscripcion
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" style="color: black;" [routerLink]="['/dashboard/pago-fotografo',5]">Fotografo <i class="fa-solid fa-camera-retro"></i></a></li>
            <li><a class="dropdown-item" style="color: black;" [routerLink]="['/dashboard/pago-organizador',10]">Organizador de Eventos <i class="fa-solid fa-wand-magic-sparkles"></i></a></li>
          </ul>
        </li>
      </ul>
    </div>
    <span *ngIf="usuario.cliente" class="norainbowText"><i class="fa-regular fa-circle-user"></i> Cliente</span>
    <span *ngIf="usuario.fotografo" class="rainbowText"><i class="fa-solid fa-camera-retro"></i> Fotografo</span>
    <span *ngIf="usuario.organizador" class="rainbowText"><i class="fa-solid fa-icons"></i> Organizador</span>
    <span class="navbar-text">
      <button class="btn btn-danger mx-5" (click)="onClick()" style="color:white"><i
          class="fa-solid fa-right-from-bracket"></i> Salir</button>
    </span>
  </div>
</nav>
