<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card p-4">
    <div class="card-header" style="text-align: center;">
      <h4>Perfil</h4>
    </div>
    <div class=" image d-flex flex-column justify-content-center align-items-center">
      <button class="btn btn-secondary mt-2"> <img src="{{usuario.avatar}}" height="100" width="100" /></button>
      <span class="name mt-3">{{usuario.nombre}}</span>
      <span class="idd mt-2 mb-2">{{usuario.email}}</span>
    </div>
    <ul class="list-group mt-2">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Twiter <i class="fa-brands fa-square-twitter"></i>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Facebook <i class="fa-brands fa-square-facebook"></i>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Google <i class="fa-brands fa-square-google-plus"></i>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Linkedin <i class="fa-brands fa-linkedin"></i>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Whatsapp {{usuario.telefono}} <i class="fa-brands fa-square-whatsapp"></i>
      </li>
    </ul>
    <div class="card-footer" style="text-align: center;">
      Joined May,2023
    </div>
  </div>
</div>
