@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* background: #ff00cc;
background: -webkit-linear-gradient(to left, #333399, #ff00cc);
background: linear-gradient(to left, #333399, #ff00cc);  */

section {
  background: #ff00cc;
  background: -webkit-linear-gradient(to left, #ff00cc, #333399);
  background: linear-gradient(to left, #ff00cc, #333399);
  min-height: 100vh;
}
*{
  font-style: italic;
}
