<div class="row">
  <div class="col-md-1">
    &nbsp;
  </div>
  <div class="col-md-10">
    <div class="table-responsive" style="text-align: center;">
      <div class="sombra-alargada">
        Eventos
      </div>
      <button class="btn btn-dark mb-5 mt-5" [routerLink]="['/dashboard/crearEvento']" *ngIf="usuario.organizador">Nuevo
        Evento <i class="fa-solid fa-file-circle-plus"></i></button>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" placeholder="Buscar..." name="filterNombre"  [(ngModel)]="filterNombre" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-magnifying-glass"></i></span>
      </div>
      <table class="table table-striped table-bordered">
        <thead class="table">
          <tr>
            <th scope="col" style="text-align: center;">Fecha y Hora</th>
            <th scope="col" style="text-align: center;">Lugar</th>
            <th scope="col" style="text-align: center;">Evento</th>
            <th scope="col" style="text-align: center;">Tipo de Evento</th>
            <th scope="col" style="text-align: center;">QR</th>
            <th scope="col" style="text-align: center;">Fotos</th>
          </tr>
        </thead>
        <tbody *ngFor="let evt of eventos | filter:filterNombre">
          <!-- <tbody *ngFor="let evt of eventos"> -->
          <tr>
            <td style="text-align: center;">{{ evt.fecha | date : 'short' }}</td>
            <td style="text-align: center;">{{ evt.lugar }}</td>
            <td style="text-align: center;">{{ evt.nombre }}</td>
            <td style="text-align: center;">{{ evt.tipo }}</td>
            <td><a href="{{evt.qr}}" target="_blank"><img src="{{ evt.qr }}" alt=""></a></td>
            <td>
              <a [routerLink]="['/dashboard/eventofotos',evt.id]"><img src="assets/picture.png" width="20px"
                  height="20px" alt=""></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="col-md-1">
    &nbsp;
  </div>
</div>
